<footer>
  <% if logged_in? %>
    <form action=<%= session_url %> method="post">
      <%= auth_input %>
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log out <%= current_user.username %>">
    </form>
  <% end %>
</footer>
