<h3>Sub: <%= @sub.title %></h3>
<%= sub_nav_bar %>
<h4>Posts</h4>

<div class="content">
  <ul>
    <% @sub.posts.each do |post| %>
      <li>
        <%= link_to "#{post.title}", post_url(post) %>
      </li>
    <% end %>
  </ul>
</div>
