<h1><%= @post.title %></h1>
<% @post.attributes.each do |key, val| %>
  <% if %w(url content).include?(key) %>
    <p>
      <%= "#{key.upcase}:: #{val}" %>
    </p>
  <% end %>
<% end %>

<p>
  Subs for this post<br/>
  <% @post.subs.each do |sub| %>
    <%= link_to "#{sub.title}", sub_url(sub) %>
  <% end %>
</p>

<p>
  <%= button_to "Edit", edit_post_url(@post), method: :get %>
</p>
